<p>edit-volunteer works!</p>
volunteerForm Value: {{volunteerForm.value | json}}
<div class="card" *ngIf="volunteer">
    <div class="card-header">
        {{volunteer.id}}: {{volunteer.name}}
    </div>
    <div class="card-body">
        <form [formGroup]="volunteerForm">
            <div [formGroup]="volunteerForm">
                <input formControlName="Sunday" type="checkbox" name="days" id="Sunday">Sunday
                <input formControlName="Monday" type="checkbox" name="days" id="Monday">Monday
                <input formControlName="Tuesday" type="checkbox" name="days" id="Tuesday">Tuesday
                <input formControlName="Wednesday" type="checkbox" name="days" id="Wednesday">Wednesday
                <input formControlName="Thursday" type="checkbox" name="days" id="Thursday">Thursday
            </div>
        </form>
        <button class="btn btn-primary" (click)="saveVolunteerDetails()">Save</button>
    </div>
</div>

